/** postcss-bem-linter: define main-component; weak */
@import "unit/all.scss"; 
:root {
  --color-main: #222;
  --color-white: #fff;
  --color-border: #eee;
}
.main-component {
  &__title {
    color: var(--color-main);
  }
}