.btn_default{
    background-color: var(--color-white);
    color: var(--color-main);
    padding: 10px 20px;
    border: 1px solid var(--color-border);
    -webkit-appearance: none;
}
.inp_default {
    padding: 7px 5px
}
